<div class="homepage1">

    <meta charset="utf-8" />

    <!-- Set the viewport for responsive design -->
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- Link to external fonts from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Circular Std:wght@500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abyssinica SIL:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sofia Pro:wght@500;700&display=swap" />


    <app-navbar (emitUserName)="filterByUserName($event)"></app-navbar>
    <div class="homepage-child"></div>
    <div class="frame-child17"></div>
    <div class="line-div"></div>
    <!-- Main content section -->
    <main class="frame-main">
        <app-homepage-sidebar (columnClicked)="filterClicked($event)"></app-homepage-sidebar>
        <app-homepage-maincontent ></app-homepage-maincontent>
    </main>
</div>
