<!-- Header section -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="" loading="lazy" />
      </a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <div class="nav-link active" aria-current="page" (click)="navToHome()">Home</div>
            </li>
            
        </ul>
        <!-- Left links -->

        <form class="form-inline mr-5">
          <input class="form-control mr-sm-2" type="search" required [formControl]="username" placeholder="Search" aria-label="Search" style = "width:30vw;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="sendUserName()">Search</button>
        </form>

        <div *ngIf="isLogged ==true" class = "d-flex align-items-center">
          <a class="nav-link mr-3">jaydubey</a>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid mr-3" height='25' width='25'>
          <button class="btn btn-outline-primary" (click)="navToHome()" id="signInBtn" type="button">Log Out</button>
        </div>
        <div *ngIf="isLogged ==false">
            <button class="btn btn-outline-primary" (click)="navToLogin()" id="signInBtn" type="button">Log In</button>
        </div>

      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->