<!-- Header section -->
<header class="frame-header">
    <div class="frame-child16"></div>
    <div class="f-r-a-m-e-v-e-c-t-o-r">
        <!-- Search icon -->
        <img class="search-component-icon" loading="lazy" alt="" src="../../../assets/vector2.svg" />
    </div>
    <div class="setting-component">
        <!-- Search input field -->
        <input style="margin-left: 420px;" class="add-a-comment" placeholder="Search" type="text" />
        <div class="setting-component-child"></div>
        <!-- Search icon image -->
        <img class="search-icon4" alt="" src="../../../assets/search.svg" />

    </div>
    <!-- User icon -->
    <div class="user-alt-fill-parent">
        <img class="user-alt-fill-icon" loading="lazy" alt="" src="../../../assets/user-alt-fill.svg" />


        <div class="user-alt-fill">
            <!-- Setting icon -->
            <img class="setting-fill-icon" loading="lazy" alt="" src="../../../assets/setting-fill@2x.png" />
        </div>
    </div>
</header>