.frame-child28 {
  height: 99px;
  width: 1440px;
  position: relative;
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.search-bar-icon {
  width: 56.4px;
  height: 47px;
  position: relative;
  z-index: 1;
}
.add-a-comment {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-6xl);
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 37px;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  height: 54px;
  padding: 0;
  z-index: 3;
}
.search-bar-wrapper {
  height: 52px;
  width: 157.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
}
.setting-container-child {
  height: 49px;
  width: 710px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--c1-j);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.search-icon5 {
  height: 43px;
  width: 43px;
  position: relative;
  z-index: 2;
}
.setting-container,
.setting-container-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.setting-container {
  align-self: stretch;
  height: 49px;
  border-radius: var(--br-31xl);
  background-color: var(--c1-j);
  border: 1px solid var(--color-black);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-7xs) var(--padding-9xs);
  z-index: 1;
}
.setting-container-wrapper {
  width: 709px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.setting-fill-icon1,
.user-alt-fill-icon1 {
  height: 58px;
  width: 68px;
  position: relative;
  z-index: 1;
}
.setting-fill-icon1 {
  width: 53px;
  height: 48px;
  object-fit: cover;
}
.rectangle-parent12,
.registration-form,
.setting-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.setting-input {
  height: 53px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.rectangle-parent12,
.registration-form {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xl);
}
.rectangle-parent12 {
  height: 99px;
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-58xl) var(--padding-4xl)
    47.200000000000045px;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  max-width: 100%;
}
.become-one-of {
  width: 821px;
  height: 71px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: 100%;
}
.signup-label-child {
  width: 980px;
  height: 699px;
  position: absolute;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.signup {
  margin: 0;
  height: 55px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  z-index: 1;
}
.username-input-label {
  width: 217px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-41xl);
}
.username {
  height: 41px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.username-prompt {
  width: 244px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
}
.password-input {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--c1-j);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 535px;
  height: 87px;
  z-index: 1;
}
.enter-username {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  background-color: transparent;
  position: absolute;
  top: 22px;
  left: 35px;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  height: 84px;
  padding: 0;
  z-index: 2;
}
.password-field-label {
  align-self: stretch;
  height: 106px;
  position: relative;
}
.empty-space1,
.input-box {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.empty-space1 {
  width: 535px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.input-box {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-14xl);
  box-sizing: border-box;
}
.email1 {
  height: 41px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.email-field,
.form-container-child {
  width: 242px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.form-container-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--c1-j);
  align-self: stretch;
  height: 87px;
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  padding: var(--padding-xl) var(--padding-16xl) var(--padding-lgi);
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  color: var(--color-darkgray);
  min-width: 250px;
  z-index: 1;
}
.form-container,
.input-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.form-container {
  width: 535px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.input-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 var(--padding-5xl) var(--padding-26xl);
  box-sizing: border-box;
}
.password2 {
  height: 41px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.input-area-label,
.password-prompt-label-child {
  width: 242px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.password-prompt-label-child {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--c1-j);
  align-self: stretch;
  height: 87px;
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  padding: 23.5px var(--padding-16xl) 15.5px;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  color: var(--color-darkgray);
  min-width: 250px;
  z-index: 1;
}
.input-box-label,
.password-prompt-label {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.password-prompt-label {
  width: 535px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10.5px;
}
.input-box-label {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 32.5px var(--padding-26xl);
  box-sizing: border-box;
}
.already-have-an {
  height: 25px;
  width: 508px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: 100%;
  z-index: 1;
}
.form-container-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 72px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.signup-label,
.username-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.signup-label {
  align-self: stretch;
  background-color: var(--color-gainsboro-100);
  padding: var(--padding-5xl) var(--padding-20xl) 59px;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.username-field {
  width: 980px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.login-link,
.signup-page {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.login-link {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.signup-page {
  width: 100%;
  position: relative;
  background-color: var(--c1-j);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 105px;
  gap: var(--gap-31xl);
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .rectangle-parent12 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .become-one-of {
    font-size: var(--font-size-13xl);
  }
  .signup {
    font-size: var(--font-size-29xl);
  }
  .email1,
  .enter-username,
  .password2,
  .username {
    font-size: var(--font-size-13xl);
  }
  .already-have-an {
    font-size: var(--font-size-5xl);
  }
  .signup-label {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .signup-page {
    gap: 25px 50px;
  }
}
@media screen and (max-width: 675px) {
  .input-box-label,
  .input-container {
    padding-left: var(--padding-3xl);
    box-sizing: border-box;
  }
  .form-container-label {
    padding-left: 36px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .become-one-of {
    font-size: var(--font-size-5xl);
  }
  .signup {
    font-size: var(--font-size-17xl);
  }
  .email1,
  .enter-username,
  .password2,
  .username {
    font-size: var(--font-size-5xl);
  }
  .already-have-an {
    font-size: var(--font-size-lg);
  }
}

/* New Styles */
.richblue {
  background-color:#fff;
  color:cornflowerblue;
  border:2px rgb(189 189 217) solid;  
  margin-left: 260px;
  border-radius:34px;
  padding:1% 15%;
  font-size:1em;
  transition: .2s ease-in-out all;
    box-shadow: 0 0px 15px rgba(0, 0, 200, 0.2);
}
.richblue:hover{
  background-color:#fff;
  color:cornflowerblue;
  border:2px rgb(189 189 217) solid;  
  box-shadow: 0 4px 15px rgba(0, 0, 200, 0.3);
  transform:translateY(-2%);
      transition: .2s ease-in-out all;
}


.error{
  color: red;
}

.form{
  width: 100%;
}

.snack-bar {
  display: none;
  /* Initially hide the snack bar */
  position: fixed;
  text-align: center;
  top: 0;
  left: 50%;
  min-width: 250px;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}