<section class="welcome-parent">
    <!-- Welcome section -->
    <div class="welcome">Welcome!</div>
    <!-- Welcome message -->
    <div class="rectangle-parent15">
        <!-- Parent container for rectangle 15 -->
        <div class="frame-child31"></div>
        <!-- Child element for frame 31 -->
        <div class="login-wrapper">
            <!-- Wrapper for login -->
            <h3 class="login1">Login</h3>
            <!-- Login heading -->
        </div>
        <div class="frame-wrapper10">
            <!-- Wrapper for frame 10 -->
            <div class="frame-parent21">
                <!-- Parent container for frame 21 -->
                <div class="username-wrapper">
                    <!-- Wrapper for username -->
                    <div class="username1">Username</div>
                    <!-- Username label -->

                </div>
                <div class="vector-parent2">
                    <!-- Parent container for vector 2 -->
                    <img class="frame-child32" loading="lazy" alt="" src="./public/rectangle-4174.svg" />
                    <!-- Child element for frame 32 -->
                    <div class="enter-username1">Enter username</div>
                    <!-- Placeholder for username input -->
                    <input class="frame-input" placeholder="Enter username" type="text" />
                    <!-- Username input field -->
                </div>
            </div>
        </div>
        <div class="frame-wrapper11">
            <!-- Wrapper for frame 11 -->
            <div class="frame-parent22">
                <!-- Parent container for frame 22 -->
                <div class="password-wrapper">
                    <!-- Wrapper for password -->
                    <div class="password3">Password</div>
                    <!-- Password label -->
                </div>
                <input class="frame-input" placeholder="Enter Password" type="text" />
                <!-- Password input field -->
            </div>
        </div>
        <div class="frame-wrapper12">
            <!-- Wrapper for frame 12 -->
            <div class="frame-parent23">
                <!-- Parent container for frame 23 -->
                <div class="forgot-password-wrapper">
                    <!-- Wrapper for forgot password -->
                    <div class="forgot-password1">
                        <!-- Forgot password section -->
                        <p class="forgot-password2"><a href="/">Forgot password?</a></p>
                        <!-- Forgot password link -->
                    </div>
                </div>
                <div class="dont-already-have">
                    <!-- Section for new user signup -->
                    Don’t already have an account? Signup
                </div>
            </div>
        </div>
    </div>
</section>