<!-- Main content section -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<section class="main-content">
    <div class="radio-container">
        <label><input type="radio" [(ngModel)]="selectedOption" value="educational" name="options"> Educational</label>
        <label><input type="radio" [(ngModel)]="selectedOption" value="personal" name="options"> Personal</label>
        <label><input type="radio" [(ngModel)]="selectedOption" value="entertainment" name="options">
            Entertainment</label>
    </div>
    <!-- <div class="rectangle-parent6">
        <div class="frame-child18"></div>
        <div class="vector-parent1">
            <img class="frame-child19" loading="lazy" alt="" src="../../../assets/rectangle-4163.svg" />
            <input class="add-a-comment" placeholder="what do you want to ask?" required="" [formControl]="postControl" type="text" />
        </div>
        <div class="edit-fill"></div>
        <div class="frame-wrapper4">
            <div class="subtract-parent">
                <img class="subtract-icon" loading="lazy" alt="" src="../../../assets/subtract.svg" />
                <button style="width: 100px;height: 50px;vertical-align: center;" (click)="addPost()">
                    <div class="post-wrapper">
                        <div class="post">Post</div>
                    </div>
                </button>
            </div>
        </div>

    </div> -->

    <ckeditor [editor]="Editor" [(ngModel)]="postMessage" data="<p>Hello, world!</p>"></ckeditor>
    <div class="button-container">
        <button class="button" (click)="addPost()">
            <span class="text">Post</span>
            <div class="overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-arrow-right">
                    <path d="M5 12h14" />
                    <path d="m12 5 7 7-7 7" />
                </svg>
            </div>
        </button>
    </div>

    <!-- Dynamic posts -->
    <div *ngFor="let post of postResponse.posts" class="frame-parent17">
        <div class="frame-parent18" id="{{post._id}}">
            <!-- Name and image -->
            <div class="frame-parent19">
                <div class="rectangle-parent7">
                    <div class="frame-child20"></div>
                    <img class="subtract-icon1" alt="" src="../../../assets/subtract-1.svg" />
                </div>
                <div *ngIf="post.userId!=null && post.username!=null" class="siddhi-wadetiwar-march-container">
                    <p class="siddhi-wadetiwar2">{{post.username}}</p>
                    <p class="march-12">{{post.postDateTime}}</p>
                </div>
                <div *ngIf="post.userId!=null && post.username==null" class="siddhi-wadetiwar-march-container">
                    <p class="siddhi-wadetiwar2">{{post.userId.username}}</p>
                    <p class="march-12">{{post.postDateTime}}</p>
                </div>
                <div *ngIf="post.userId==null && post.username==null" class="siddhi-wadetiwar-march-container">
                    <p class="siddhi-wadetiwar2">User Empty</p>
                    <p class="march-12">{{post.postDateTime}}</p>
                </div>
            </div>

            <div class="frame-wrapper5">
                <div class="rectangle-parent8">
                    <div class="frame-child21"></div>
                    <div class="how-would-you-container">
                        <div class="how-would-you" [innerHTML]="post.postContent[0]">

                        </div>
                        <div style="display: flex">
                            <p>
                                <a class="btn btn-info btn-lg" (click)="upVote(post.userId._id, post._id)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> {{ post.upvotesCount }}
                                </a>&nbsp;
                            </p>
                            <p>
                                <a class="btn btn-info btn-lg" (click)="downVote(post.userId._id,post._id)">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> {{ post.downvotesCount}}
                                </a>
                            </p>
                        </div>
                        <p class="blank-line">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Comment Block -->
        <div class="frame-wrapper6">
            <div class="rectangle-parent9">
                <div class="frame-child23"></div>
                <img class="subtract-icon2" alt="" src="../../../assets/subtract-1.svg" />
                <div class="frame-wrapper7">
                    <div class="rectangle-parent10">
                        <div class="frame-child24"></div>
                        <input class="add-a-comment" placeholder="Add a Comment" type="text" id="{{post._id}}_comment"
                            [formControl]="comment" />
                    </div>
                </div>
                <button class="frame-button">
                    <div class="frame-child25"></div>
                    <div class="submit-wrapper">
                        <div class="submit" (click)="addcomment(post._id)">Submit</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- Rest of your main content HTML goes here -->
    <!-- For demonstration purposes, I've added some placeholder content -->
</section>
<div id="snackBar" class="snack-bar">
</div>